/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

@font-face {
  font-family: bigFish;
  src: url(Bigfish.ttf);
}

html {
  min-height: 100%;
  background-image: url("web_largecoverart_series_archer_540x796.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;

}

.container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: 5%;
  list-style-type: none;
  border-radius: 10px;

}

h1, h2, h3 {
  font-family: bigFish;
}

h1 {
  padding: 1%;
}

.this-question {
  padding: 2%;
}

ul {
  font-family: Helvetica, sans-serif;
}