/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

@font-face {
  font-family: bigFish;
  src: url(Bigfish.ttf);
}

body {
  background-image: url("web_largecoverart_series_archer_540x796.jpg");
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: 5%;
  padding: 0;
  list-style-type: none;
}

h1, h2, h3 {
  font-family: bigFish;
}

h1 {
  padding: 30px;
}

.this-question {
  padding-bottom: 5%;
  padding-left: 5%;
}